<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-3" style="background-image: url('ruta/a/la/imagen.jpg'); background-size: cover;">
  <a class="navbar-brand" href="#" style="font-weight: bold; font-size: 1.5rem;">OpenPay - Test: Gerardo Oliver</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/marvel" style="color: #fff;">Marvel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bitacora" style="color: #fff;">Bitácora</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3" style="background-color: #f8f9fa; border-radius: 8px; padding: 0px;">
  <router-outlet></router-outlet>
</div>
